body {
}

nav {
    height: 55px;
    padding: 10px;
}

nav h2 {
    font-family: Arial, serif;
    display: inline;
    font-size: xx-large;
    margin-left: 10px;
    color: white;
}

.logo {
    height: 50px;
    background-color: white;
    -webkit-mask: url('/paintbrush.svg') no-repeat center;
    mask: url('/paintbrush.svg') no-repeat center;
}
.landing-header {
    width: 40%;
    margin: 15vh auto;
    padding: 30px 15px;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: verdana, serif;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
}
.landing-header .logo {
    height: 150px;
}
.landing-header h2 {
    font-family: Arial, serif;
    font-size: xx-large;
    color: white;
}
.submit-button {
    color:  #FFFFFF;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 8px 10px;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
    text-decoration: none;
}
#btnViewRooms {

}

.add-gradient {
    background: linear-gradient(214deg, #3d3d3d, #23d99c, #186fc8, #8b18c8);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 44s ease infinite;
    -moz-animation: AnimationName 44s ease infinite;
    animation: AnimationName 44s ease infinite;
    z-index: 1;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 62%}
    50%{background-position:100% 39%}
    100%{background-position:0% 62%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 62%}
    50%{background-position:100% 39%}
    100%{background-position:0% 62%}
}
@keyframes AnimationName {
    0%{background-position:0% 62%}
    50%{background-position:100% 39%}
    100%{background-position:0% 62%}
}

.add-gradient::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(214deg, #3d3d3d, #d93a34, #c8971f, #c81b96);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 44s ease infinite;
    -moz-animation: AnimationName 44s ease infinite;
    animation: AnimationName 44s ease infinite;

    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
}
.error::before {
    opacity: 1;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


@media (max-width: 800px) {
    .landing-header {
        width: 80%;
    }
}