html, body{
    margin: 0;
    width:100%;
    text-align: center;
}
body {
    min-height: 100vh;
}

#content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    align-items: flex-start;
    justify-content: center;
}

.room {
    width: 300px;
    height: 200px;
    overflow: hidden;
    background-color: rgba(145, 145, 145, 0.2);
    font-family: verdana, serif;
    color: white;
    padding: 10px 8px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    text-align: center;
    background-clip: padding-box;
    box-shadow: 0 1px 2px 0 rgba(224, 224, 224, 0.6), 0 2px 6px 2px rgba(61, 61, 61, 0.302);
    margin-top: 10px;
}

.room h3 {
    font-weight: lighter;
}

.players {
    display: inline-block;
    padding: 0 10px;
    word-break: break-word;
}

.room .content {
    flex: 1;
}

.room .bottom {
    flex: none;
}

.btnJoin {
    color: #ffffff;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 40px;
    border: 0;
    font-size: larger;
    cursor: pointer;
}

.btnJoin:disabled {
    background-color: #66ACEE;/*#91d0f0;*/
    opacity: 65%;
    cursor: default;
}

#btnCreateRoom {
    float: right;
}